@import url("//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@latest/neodgm/style.css");

body {
  position: relative;
  font-family: "NeoDunggeunmo";
  margin: 0;
}

.main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 450px;
  height: 650px;
  z-index: 10;
}

#title {
  text-align: center;
}
.top {
  position: relative;
  background-image: url(https://nioting.com/xe/files/attach/images/47338/472/092/13yamamichi2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.bottom {
  background-image: url(https://e0.pxfuel.com/wallpapers/723/266/desktop-wallpaper-pokeball.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.side {
  line-height: 1em;
  padding-left: 10px;
}
.bar {
  height: 325px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.computerbox {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.userbox {
  display: flex;
  justify-content: flex-end;
}
#computer {
  width: 200px;
  height: 60px;
  background-image: url("images/comp-info2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#comp-img {
  position: absolute;
  top: 40px;
  right: 60px;
  width: 80px;
  height: 80px;
}
#user {
  width: 220px;
  height: 80px;
  background-image: url("images/user-info.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#user h4 {
  position: relative;
  top: -3px;
  left: 40px;
}
#msg {
  height: 65px;
  padding: 10px;
  background-image: url("images/IMG_4435.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#msg #text {
  padding: 10px;
}
.choice {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 50% 50% / 50% 50%;
}
button {
  margin: 30px 10px;
  font-family: "NeoDunggeunmo";
  border-radius: 20px;
  background-color: white;
}

.font-neodgm {
  font-family: "NeoDunggeunmo";
}

.font-neodgm-code {
  font-family: "NeoDunggeunmo Code";
}
